.body{
	background-color: beige;
	text-align: center;
	border-style: double;
	border-color: peru;
	border-width: 5px;
	border-radius: 13px;
	box-shadow: 10px 10px 5px lightgrey;
	letter-spacing: 2px;
	display: block;
}
.title{
	color: darkred;
	background: beige;
}
.text{
	font-family: 'Playfair Display', serif;
}
.title{
	font-family: 'Bangers', cursive;
}
